html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(1, 51, 95, 0.3);
}
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chart {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
canvas {
  border-radius: 20px;
}
.wrap {
  position: relative ;
}
